@model JayBugTracker.Models.RoleListViewModel

@{
    ViewBag.Title = "AddRemoveUsers";
}
 
}


<h2>@ViewBag.Title.</h2>

<h3>@Html.DisplayFor(model => model.UserName)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                             
<hr />
@Html.ValidationSummary(true, "", new { @class = "text danger"})
<div class="form-group">
    <div class=" col-sm-6">
        @Html.ListBoxFor(j => j.Selected, Model.RoleName)
    </div>
</div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Save" class="btn btn-default"  />
        </div>
    </div>
    
}